<a href="https://colab.research.google.com/github/JmiguelBM/dataset/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# Cargar el archivo de Excel en un dataframe
df = pd.read_excel('/content/HepatitisCdata.xlsx')
df

,patient number,Category,Donor Blood,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0,Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0,Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0,Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0,Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0,Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,3,Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,3,Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,3,Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,614,3,Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,615,3,Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [ ]:
# Eliminar los datos NaN del dataframe
df = df.dropna()

# Mostrar el dataframe sin los datos NaN
print('Dataframe sin los datos NaN:')
print(df)

In [6]:
df = df.drop(['patient number', 'Age', 'Sex'], axis=1)

In [7]:
x = df.drop(['Donor Blood'], axis=1)
x

     Category   ALB    ALP   ALT    AST   BIL    CHE  CHOL   CREA    GGT  PROT
0           0  38.5   52.5   7.7   22.1   7.5   6.93  3.23  106.0   12.1  69.0
1           0  38.5   70.3  18.0   24.7   3.9  11.17  4.80   74.0   15.6  76.5
2           0  46.9   74.7  36.2   52.6   6.1   8.84  5.20   86.0   33.2  79.3
3           0  43.2   52.0  30.6   22.6  18.9   7.33  4.74   80.0   33.8  75.7
4           0  39.2   74.1  32.6   24.8   9.6   9.15  4.32   76.0   29.9  68.7
..        ...   ...    ...   ...    ...   ...    ...   ...    ...    ...   ...
608         3  34.0   46.4  15.0  150.0   8.0   6.26  3.98   56.0   49.7  80.6
609         3  39.0   51.3  19.6  285.8  40.0   5.77  4.51  136.1  101.1  70.5
610         3  32.0  416.6   5.9  110.3  50.0   5.57  6.30   55.7  650.9  68.5
611         3  24.0  102.8   2.9   44.4  20.0   1.54  3.02   63.0   35.9  71.3
612         3  29.0   87.3   3.5   99.0  48.0   1.66  3.63   66.7   64.2  82.0

[589 rows x 11 columns]

In [8]:
y = df.drop(['Category', 	'ALB', 	'ALP', 	'ALT', 	'AST', 	'BIL', 	'CHE', 	'CHOL', 	'CREA', 	'GGT', 	'PROT'], axis=1)
y

     Donor Blood
0    Blood Donor
1    Blood Donor
2    Blood Donor
3    Blood Donor
4    Blood Donor
..           ...
608    Cirrhosis
609    Cirrhosis
610    Cirrhosis
611    Cirrhosis
612    Cirrhosis

[589 rows x 1 columns]

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import tensorflow as tf

In [10]:
model = Sequential()
model.add(Dense(20, input_dim=784, activation='relu'))
model.add(Dense(3, activation='softmax'))

In [14]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
resultado = model.fit(x,y, epochs=1500, batch_size=10)

Epoch 1/1500

ValueError: ignored